.navigation {
    background-color: #4E5166;
    height: 80px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    width: 100%; 
    overflow: hidden; 
}

.navigation img {
    width: 150px;
    transition: 0.3s;
}

.navigation img:hover {
    transform:  scale(1.2);
}

.navigation ul {
    display: flex;
    transform: translateY(6px);
    padding: 0;
}

.navigation ul li {
    margin: 0 10px;
}

.navigation ul a {
    background-color: #ffd7d7;
    border: 2px solid #ffd7d7;
    color:  #4E5166;
    padding: .5rem .8rem;
    border-radius: 25px;
    font-size: 12px;
    transition:  0.3s;
    font-weight: 700;
    text-decoration: none;
}
.navigation ul a:hover {
    transform:  scale(1.2);
    background-color: #ffd7d700;
    border: 2px solid #ffd7d7;
    color: #ffd7d7;
}

.navigation ul li:nth-child(1) a{
    background-color: #ffd7d700;
    border: 2px solid #ffd7d7;
    color: #ffd7d7;
}

.navigation ul li:nth-child(1) a:hover{
    background-color: #ffd7d7;
    border: 2px solid #ffd7d7;
    color:  #4E5166;
}

#deconnexion{
    color: #ffd7d7;
    transform: translate(10px, 5px);
}





@media screen and (max-width: 600px) {
    .navigation {
        padding: 0 20px 0 5px;  

    }
}

@media screen and (max-width: 400px) {
    .navigation {
         
    }
}